@import "tailwindcss";

@theme {
    --animate-spin-slow: spin 20s linear infinite;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}

/* Custom Thin Scrollbar for Webkit browsers */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}